<div id="player-container" class="card col-12" 
 ng-repeat="player in game.players" 
 style="background-color:{{colors[player.color]}}"
 >
  <div id ="above-czar-container">
    <div id="avatar_">
      <span ng-show="isPremium($index)">
        <img ng-src="img/king.png" id="king">
      </span>
      <img ng-src="{{player.avatar}}" id="img"/>
    </div>
    <div id="player-container-inner">
      <div id="player-name" class="d-flex align-items-center">
        <h4>{{player.username | upperFirstLetter}}</h4>
        <div ng-show="isPlayer($index)" id="player-star">
            <img src="../img/11.png"/>
          </div>
      </div>
      <div id="player-score">
        <h2>{{player.points}}/{{game.pointLimit}}</h2>
      </div>
    </div>
  </div>
  <div id="czar-container" ng-show="currentCzar($index)">
    <span id='the-czar'>CZAR</span>
  </div>

</div>

