<div ng-show="showAuthPage()" ng-controller="IndexController">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#!" target="_self">
      <img src="img/logo.png" height="50" class="d-inline-block align-top">
    </a>
    <div class="nav justify-content-end ml-auto">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav snip">

          <li class="nav-item active">
            <a class="nav-link" href="#!/signin">Sign In
              <span class="sr-only">
                (current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Landing Start -->
  <div class="container">
    <div class="row sign-up-form">
      <div class="col-md-6 offset-md-3">
        <form class="z-depth-4 auth-form-style" ng-submit="signUp()" method="post">
          <h2 class="form-header">Sign Up</h2>
          <div class="sign-error" ng-show="errorMessage">
              <i class="fa fa-exclamation-triangle"></i> &nbsp; {{ errorMessage }}
          </div>
          <div class="md-form">
            <i class="material-icons prefix">account_circle</i>
            <input class="form-control" id="name" type="text" name="name" ng-model="data.name" required novalidate />
            <label for="name">Full name</label>
          </div>
          <div class="md-form">
            <i class="material-icons prefix">email</i>
            <input class="form-control" id="email" type="text" name="email" ng-model="data.email" required novalidate />
            <label for="email">Email</label>
          </div>
          <div class="md-form">
            <i class="material-icons prefix">lock</i>
            <input class="form-control" id="password" type="password" name="password" ng-model="data.password" required novalidate />
            <label for="password">Password</label>
          </div>
          <div id="contain-avatars">
            <ul ng-controller="IndexController" class="avatar-list">
              <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                <input name="avatar" type='radio' value="{{$index}}">
                <img ng-src="{{avatar}}" class="avatar-image">
                </input>
              </li>
            </ul>
          </div>
          <div class="sign-btn-wrapper">
            <button class="btn form-button" type='submit'>SignUp</button>
            <p class="text-right">Have an account?
              <a href="#!/signin">Signin</a>
            </p>
          </div>

          <div class="oauth-auth">
            <p>or Signup with</p>
            <a href="/auth/twitter" class="btn btn-social-icon btn-twitter">
              <span class="fa fa-twitter"></span>
            </a>
            <a href="/auth/facebook" class="btn btn-social-icon btn-facebook">
              <span class="fa fa-facebook"></span>
            </a>
            <a href="/auth/github" class="btn btn-social-icon btn-github">
              <span class="fa fa-github"></span>
            </a>
            <a href="/auth/google" class="btn btn-social-icon btn-google">
              <span class="fa fa-google"></span>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>