<div id = "inner-timer-container">
  <span id="timer-status-round" ng-hide="game.state === 'winner has been chosen' || game.state === 'waiting for czar to decide'" class="header-font-family"> Time Remaining</span>
  <span id="timer-status-czar-choosing" ng-show="game.state === 'winner has been chosen'" class="body-font-family"> Next Round In</span>
  <span id="timer-status-czar-choosing" ng-show="game.state === 'waiting for czar to decide'" class="body-font-family"> Czar Choosing</span>
  <div id="time" ng-bind="game.time" class="header-font-family"></div>
</div>