// We really need to disable the important and
// id selector rules on this file in order to
// prevent styles on this file from been overridden
// scss-lint:disable ImportantRule, IdSelector
.game-bg {
  padding:0;
  margin: 0;
  background-image: url('../img/background-gs.jpg') !important;
  background-size: auto !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  zoom: 0.8;
}

#app-container {
  max-width: unset !important;
}
#gameplay-container {
  margin: 20px 0 0 0!important;
  height: 90vh;
  padding: 0 1em;
}
#social-bar-container {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  right: 0 !important;
  top: 0px !important; 
}
.game-screen-body {
  height: 90vh;
  width: 100%;
}
.gameplay-inner-left {
  margin: 0;
  height: 100%;
  &-top{
    height: 300px;
  }
  &-bottom{
    height: 400px;
  }
}
#timer-container {
  padding: 0;
}

.question-container {
  height: inherit;
}

.right-container,
.left-container {
  height: 100%;
  padding: 0;
  margin: 0;
}

.right-container{
  display: flex;
  flex-direction: column;
  padding: .2em !important;
  &-bottom{
    width: 100%;
    height: 50%;
   }
   &-top{
    width: 100%;
    height: 50%;
    position: relative;
    overflow: scroll;
  }
}
.question{
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}
.answers{
  min-height: 300px !important;
  margin-top: 25px;
  border-radius: 2px;
  margin-bottom: 50px;
}
.no-padding{
  padding: 0 !important;
}

.header-font-family,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bree Serif', serif !important;
}

.body-font-family,
body,
.btn,
.card {
  font-family: 'Ubuntu', sans-serif !important;
}

@media(max-width: 991px) {
  .right-container {
    display: none;
  }
  .game-bg {
    zoom: 0.9;
  }
}

