.bg-color{
  background-color:#782149 !important;
}
.bg-transparent{
  background-color: transparent;
}
.text-color-primary{
  color:#782149 !important;
}
.btn-color{
  background-color:#7BA342 !important;
}