
#player-container{
  padding: 0!important;
  overflow: hidden;
  width: 95%;
  margin: .2em auto !important;
  max-height: 60px !important;

}
#avatar_{
  height: 50px !important;
  width: 50px !important;
}
#img{
  height: 100%;
  width: 100%;
  max-width: 100%;
}
#above-czar-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100% !important;
}
#player-container-inner{
  display: flex;
  flex: 1;
  bottom: 0px ;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}
#czar-container{
  left: 0;
  right: 0;
}
.player-score-star-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: .2em;
  min-height: 100%;
}
#play-score > h2 {
  font-size: .5em !important;
}
.mobile-player{
  display: none !important;
}
@media(max-width: 991px){
  .mobile-player{
    display: block !important;
    max-height: fit-content !important ;
    padding: .7em !important;
    font-size: 2em !important;
  
    &-czar{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      background: black;
      opacity: 0.4;
      color:white;
      font-weight: bold;
    }
  }
}
