
.snip li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 0.6em;
  position: relative;
}
.snip li a {
  color: #fff;
  text-decoration: none;
}
.snip li:before,
.snip li:after {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  height: 2px;
  width: 35%;
  background-color: #782149;
  position: absolute;
  content: '';
  opacity: 0;
}
.snip li:before {
  top: 0;
  left: 0;
}
.snip li:after {
  bottom: 0;
  right: 0;
}
.snip li:hover:before,
.snip li.hover:before,
.snip li:hover:after,
.snip li.hover:after {
  opacity: 1;
}
.snip li:hover:before,
.snip li.hover:before {
  left: 65%;
}
.snip li:hover:after,
.snip li.hover:after {
  right: 65%;
}

.navbar-toggler {
  color: white;
}

.auth-form-style a:hover{
  color: rgb(216, 67, 44);
}
.auth-form-style a{
  color: #782149;
}
.auth-form-style{
  padding: 15px;
  margin-top: 30px;
}
.auth-form-style h2{
  text-align: center;
  color: #782149;
  font-family: 'Bree Serif', serif;;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
}
.auth-form-style .form-button{
  border-radius: 20px;
  display: inline-block;
  background-color: #782149;
}

.auth-form-style .form-button:hover{
  background: #8F3527;
}
.sign-btn-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.sign-btn-wrapper p{
  margin: 0 10px;
}

.oauth-list{
  background-color: darkgrey;
  margin: -15px;
}
.oauth-auth{
  text-align: center;
  margin-right: -15px;
  margin-left: -15px;  
  margin-bottom: -15px;  
  color: #fff;
  padding: 10px;
  background-color: grey;
}
.auth-form-style{
  margin-top: 130px;
  margin-bottom: 10px;
}
.sign-error{
  display: none;
  color: red;
  text-align: center;
  margin: 4px;
  padding: 2px;
}

input[type=password]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label
{
  color:green;
}
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=text]:focus:not([readonly])
{
  -webkit-box-shadow: 0 1px 0 0 green;
  box-shadow: 0 1px 0 0 green;
  border-bottom: green;
}
.md-form .prefix.active{
  color: green;
}
.form-control:focus{
  border-color: green;
}

.avatar-list{
  padding-left: 5px;
  list-style-type: none;
  display: inline-flex;
  flex-wrap: inherit;
  overflow: scroll;
}
.avatar-list li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.avatar-list img{
  max-width: 40px;
  max-height: 40px;
  
}
#contain-avatars{
  overflow-x: scroll;
}

.auth-form-style .md-form .prefix~input, 
.auth-form-style .md-form .prefix~textarea {
  width: -webkit-calc(100% - 7rem);
  width: calc(100% - 7rem);
}