
#charity{
  background-color: #782149;
  padding: 50px !important;
  color: white;
}
#how-to-section h2{
  color: #782149
}
#how-to-section{
  height: 500px !important;
  background-color: #f2f2f2
}
.about{
  padding: 50px !important;
}
.about h2{
  color: #782149
}

.inner{
  padding: 100px, 0px, 50px, 0px !important
}

#how-to-card-1{
  margin-top: 50px;
  height: 300px;
  padding: 100px, 0px, 50px, 0px  !important;
  transform: rotate(-10deg);
  background-color: white;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  z-index: 5
}

.how-to-card{
  height: 350px;
  padding: 100px, 0px, 50px, 0px  !important;
  background-color: white;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 0.5s;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  z-index: 5
}

#how-to-card-4{
  margin-top: 50px;
  height: 300px;
  padding: 100px, 0px, 50px, 0px  !important;
  transform: rotate(10deg);
  background-color: white;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  z-index: 5
}

footer{
  background-color: black;
  padding: 20px;
  color: white;
}
.inner-charity{
  padding: 20px
}
.charity-img{
  height: 150px;
  width: 250px
}
w{
  color:red
}