
#charity{
  background-color: #e8eae1;
  padding: 100px, 0px, 50px, 0px  !important;
}

#how-to-section{
  height: 500px !important;
}

.inner{
  padding: 100px, 0px, 50px, 0px !important
}

.how-to-card{
  padding: 100px, 0px, 50px, 0px  !important;
  background-color: white;
  opacity: 0.8;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}

.how-to-card:hover{
  -webkit-transform: rotate(360deg); /* Safari */
  transform: rotate(360deg); 
}
